* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* HEADER  */
header {
    width: 100%;
    height: 80px;

    background-color: rgb(23, 49, 87);
}

header > .wrapper {
    width: 80%;
    height: 100%;

    margin: auto;
}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}

header > .wrapper > * {
    line-height: 80px;
    vertical-align: middle;
}




    /* logo  */
.wrapper > .logo {
    padding-top: 10px;
}



    /* links  */

.links {
    margin-left: 10px;
}
.wrapper > .links > ul {
    list-style: none;
}

.wrapper > .links > ul > * {
    display: inline-block;

    margin-left: 20px;
}

.wrapper > .links > ul > li > * {
    color: white;
    text-decoration: none;

    font-size: x-small;
}

.logo , .links {
    float: left;
} 



/* login  */
.login {
    float: right;
}

.wrapper > .login > ul {
    list-style: none;
}

.wrapper > .login > ul > * {
    display: inline-block;

    padding-left: 10px;
}

.wrapper > .login > ul > li > * {
    text-decoration: none;
}

.wrapper > .login > ul > li > a {
    color: white;

    font-size: x-small;
}

.green-button {
    background-color: rgb(138, 185, 56);

    padding: 5px;
    border-radius: 2px;
    border-style: none;

    color: white;
}

.blue-button {
    background-color: rgb(23, 49, 87);

    padding: 5px;
    border-radius: 2px;
    border-style: none;
    border: 1px solid grey;

    color: white;
}








/* MAIN  */

/* hero  */
main {
    width: 100%;
    height: 50vh;

    background-image: url("img/background-header.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: rgb(23, 49, 87);
}

.hero {
    width: 80%;
    height: 100%;

    margin: auto;
    padding-top: 90px;
}

.hero > h1 {
    color: white;

    padding-bottom: 20px;

    font-weight:200;
    font-size: xx-large;
    font-size: 40px;
}

.hero-button {
    padding: 20px;
}




/* sub-hero  */
.sub-hero {
    width: 100%;
    height: 20vh;

    background-color: lightgrey;

    position: relative
} 

.sub-hero > .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.sub-hero > .wrapper > * {
    padding-bottom: 10px;

    text-align: center;
}

.sub-hero > .wrapper > p {
    color: grey;
}





/* hero2  */
.hero2 {
    width: 100%;
    height: 40vh;

    background-color: white;
}

.margin-auto {
    width: 80%;
    height: 100%;

    margin: auto;
}

.margin-auto::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 30%;
    height: 100%;

    float: left;

    margin-right: calc(10% / 3);
    padding-top: 20px;



}

.row {
    width: 100%;
    height: calc(100% / 3);

} 

.head {
    height: 100%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.central {
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    color: rgb(138, 185, 56);
}

.hr-row {
    width: 20%;

    margin: auto;

    transform: translateY(-10px);
}

.footer {
    width: 100%;

    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);


}





/* hero3  */
.hero3 {
    width: 100%;
    height: 40vh;

    background-color: white;
}

.hr-hero3 {
    width: 98%;

    margin: auto;
    margin-top: 15px;
}

.hero3 > .wrapper {
    width: 80%;
    height: 100%;

    margin: auto;
} 

.hero3 > .wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper > .left.column {
    width: 45%;
    height: 100%;

    float: left;
}

.wrapper > .right.column {
    width: 45%;
    height: 100%;

    float: right;
}

.montain-img{
    height: 300px;
}

.left.column > div {
    transform: translateX(15%);
}

.right.column {
    padding-left: 80px;
}

.right.column h3 {
    font-size: x-large;

    margin-bottom: 10px;
}

.right.column p {
    margin-bottom: 15px;
}


/* FOOTER  */
footer {
    width: 100%;
    height: 100px;

    border: 1px solid black
}

.obbo {
    width: 80%;
    height: 200px;

    border: 1px solid black;
}


















































